.cart {
  border-bottom: 1px solid #e0e0e0;
  margin: 16px 0;
  padding-bottom: 16px;
  gap: 8px;

  &:last-child {
    border-bottom: none;
  }

  &__image {
    height: 150px;
    flex: 0 0 250px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__desc {
    gap: 8px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
  }
  &__category {
    color: gray;
  }
  &__price {
    font-size: 18px;
    font-weight: 600;
  }
  &__action {
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin-top: 8px;

    &--show-more {
      button {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 8px 12px;

        &:hover {
          transform: scale(.96);
        }
      }
    }
  }

  &__remove {
    button {
      font-size: 20px;
      font-weight: 600;
      color: gray;
    }
  }
}