.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #fff;
  flex: 1 1 calc(100% / 3 - 16px);
  max-width: 289px;
  min-width: 260px;
  margin: 8px;
  border-radius: 8px;
  padding: 24px 16px 16px;
  transition: .2s;

  &:hover {
    box-shadow: 0 4px 8px transparentize(#202020, .85);
  }

  &__image {
    height: 280px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__category {
    text-transform: capitalize;
    color: gray;
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
  }

  &__desc {
    flex: 1 1 auto;

    .text {

    }
  }

  &__price {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    gap: 8px;
    justify-content: space-between;

    .rating {
      display: flex;
      gap: 8px;
      align-items: center;
      font-size: 14px;

      svg {
        width: 16px;
        fill: orange;
      }
    }
  }

  &__action {
    gap: 16px;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;

    &--show-more {
      button {
        border: 1px solid #e0e0e0;
        border-radius: 8px;
        padding: 8px 12px;

        &:hover {
          transform: scale(.96);
        }
      }
    }

    &--add-cart {
      position: relative;

      button {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover {
          background-color: #3389f1;

          img {
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}