.cart {
  &__container {
    gap: 0 32px;
    flex-wrap: wrap;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding-right: 4px;
  }

  &__fields {
    border-right: 1px solid #e0e0e0;
    padding: 16px;
    flex: 0 0 320px;
    overflow: auto;
    height: calc(100vh - 264px);
  }

  &__products {
    padding: 16px;
    flex: 1 1;
    overflow: auto;
    height: calc(100vh - 264px);
  }

  @media (any-hover: hover) {
    &__products::-webkit-scrollbar-thumb {
      border: 2px solid #fff;
    }
  }

  &__total {
    border-top: 1px solid #e0e0e0;
    padding: 16px;
    flex: 1 1 100%;
    justify-content: space-between;
    align-items: center;

    &--price {
      .mesh--row {
        align-items: center;
        gap: 8px;
      }

      h3 {
        color: #606060;
      }

      .text-price {
        font-weight: 600;
        font-size: 20px;
      }

      .cart-total-qnt {
        color: #909090;

        strong {
          font-size: 16px;
          color: #202020;
        }
      }
    }

    button {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 8px 24px;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 16px;
      font-weight: 600;
      color: #606060;

      &:hover {
        background-color: #3389f1;
        color: #fff;
        transform: scale(.96);

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}