.cart {
  &__container {
    gap: 32px;
    flex-wrap: wrap;
  }

  &__fields {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    flex: 0 0 320px;
  }

  &__products {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    flex: 1 1;
  }

  &__total {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    flex: 1 1 100%;

    button {
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      padding: 8px 12px;

      &:hover {
        transform: scale(.96);
      }
    }
  }
}