//loading
.loading {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #3389f1);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: loading 1s infinite linear;
  margin: 24px auto;
}
@keyframes loading {
  0% {
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}