.App {
  display: flex;
  flex-direction: column;
  max-width: 1366px;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  height: 100%;
  flex: 1 1 auto;
}

//header
.header {
  padding: 24px 32px;
  position: fixed;
  max-width: 1366px;
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  z-index: 2;
}
.nav {
  ul {
    display: flex;
    gap: 16px;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
      min-height: 40px;
      padding: 0 16px;
      background-color: transparent;
      color: black;
      position: relative;
      width: fit-content;
      border-radius: 4px;

      &.active {
        background-color: #3389f1;
        color: #fff;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.side-title {
  padding-left: 8px;

  &::after {
    content: '';
    width: 50px;
    border-bottom: 2px solid #606060;
    display: block;
    padding-bottom: 8px;
  }
}

.main {
  padding: 112px 32px 24px;
}

.counter-badge {
  background-color: #07af07;
  min-width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 10px;
  position: absolute;
  top: -4px;
  right: -4px;
}

.show-more {
  position: relative;
  margin: 16px auto 24px;
  min-width: 144px;
  width: fit-content;

  > * {
    border-radius: 8px;
    background-color: #3389f1;
    color: #fff;
    padding: 8px 16px;
    display: flex;
    justify-content: center;

    &:hover {
      transform: scale(.97);
      color: yellow;
    }
  }
}